<% content_for :head do %>
	<script>
		$(document).ready(function(){
			$('.active').attr('class', 'list-group-item');
			$('#servicestab').attr('class', 'list-group-item active');
		})
	</script>
<% end %>
<section class="container-fluid cpcontainer">
<%= render partial: "cp/cp" %>
	<section class="col-sm-9 pagecontainer ">
		<%= form_for @cat, url: cp_cat_path do |f| %>
	description:
		<%= f.text_area :description, class: "form-control", required: true, style: "height: 500px" %>
		<%= f.submit "Post", class: "btn btn-primary" %>
	<% end %>
	</section>
</section>
<script>
		$(document).ready(function(){
			$('#newstab').attr('class', 'list-group-item');
			$('#servicestab').attr('class', 'list-group-item active');
		})
	</script>