<div class="jumbotron signbox">
	<h1>WHO WE ARE</h1>
</div>
<section class="container">
<h2>OUR TEAM</h2>
<div class="col-sm-6">
<div style="border:1px solid black;border-radius: 5px;min-height:410px;padding:10px">
	<img src="/assets/team1.png" style="float:left;width:200px;object-fit: contain;filter: drop-shadow(0px 0px 1px rgba(0,0,0,.3))drop-shadow(0px 0px 10px rgba(0,0,0,.3));padding:10px;padding-top:20px"/>
	<p style="font-size:130%;padding-top:60px"><span class="boldy">AL BEHEARY, CEO</span><br><br><br>
CEO is an entrepreneur with a deep understanding of international and inter-state government accounting. With a background in investment strategy he works with individuals and companies organizing their finances, consulting on their investments, financial and retirement goals.
</p>
</div>
</div>
<div class="col-sm-6">
<div style="border:1px solid black;border-radius: 5px;min-height:410px;padding:10px">
	<img src="/assets/team2.5.png" style="float:left;width:200px;object-fit: contain;filter: drop-shadow(0px 0px 1px rgba(0,0,0,.3))drop-shadow(0px 0px 10px rgba(0,0,0,.3));padding:10px;padding-top:20px"/>
	<p  style="font-size:130%;padding-top:60px"><span class="boldy">SIOBHAN KIERANS, COO</span><br><br><br>
COO has worked with individuals and large multi-national corporations. She's a risk manager identifying potential set-backs and arming clients with foresight to get ahead with the benefit of long-term safeguards and personal/professional planning.
</p>
</div>
</div>
<div class='col-sm-12' style="margin-top:20px">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<img src="/assets/group_pic.png" style="width:100%;object-fit: contain;filter: drop-shadow(0px 0px 1px rgba(0,0,0,.3))drop-shadow(0px 0px 10px rgba(0,0,0,.3));"/>
</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">HEND ABOUSERIE</span><br>Supervisor/Underwriting
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">JANET GARCIA</span><br>Supervisor/Accountant/ Pro-Advisor
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">KENIA PEREZ</span><br>Administration/New Business Specialist
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">MIRIAM ALJABRI</span><br>Administration/Retention Specialist
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">AINE BREEN</span><br>Administrative Assistant
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">MATT MCDOWELL</span><br>Marketing
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">SARA PETERSON</span><br>Insurance Assistant
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">CARA KENNEDY</span><br>Irish Logistics
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">ALI REHMAN</span><br>Xero/Pro-Advisor/ Bookkeeper
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">ASHRAF ELHAKEEM</span><br>Real Estate Investments
	</div>
</div>
<div class="col-sm-4 text-center">
	<div class="col-sm-12 usbox">
		<span class="boldy">SUE ELHAKEEM</span><br>Real Estate Investments
	</div>
</div>
</section>