<section class="container-fluid" style="padding-bottom:30px">
	<div class="jumbotron signbox">
		<h1> <%=@page.head%></h1>
	</div>
	<div class="container spcontainer">
	<img src="/assets/bt1.jpg" class="col-sm-4 col-xs-6 spimg1"/>
	<div class="col-sm-8 col-xs-6 sptext">
	<%= @page.text1 %>
	</div>
	</div>
	<div class="container spcontainer">
	<div class="col-sm-8 col-xs-6 sptext">
		<%= @page.text2 %>
	</div>

	<img src="/assets/bt2.jpg" class="col-sm-4 col-xs-6 spimg2"/>
	</div>
</section>