<section class="container-fluid" style="min-height:500px">
	<div class="jumbotron signbox">
		<h1> Careers </h1>
	</div>
		<div class="container newscontainer" style="padding:20px">
		<p style="font-size:120%">
			FIC is always looking for smart, caring and community focused team members!<br>
SALES - Focused opportunities with generous commission and bonus structure.<br>
INSURANCE AGENTS - Licensed P&C, L&H producers <br>
ACCOUNTANTS/TAX PREPARERS - ProSeries/Drake, QuickBooks - seasonal & part-time<br>
CUSTOMER SERVICE REPRESENTATIVES - Part-time client <br>
MARKETING/PROMOTION - Lead generation, social media marketing, seasonal campaigns.<br>
F.I.C. Benefits Include:<br>
● Competitive salary/wage<br>
● 3-weeks vacation<br>
● sick days & personal days<br>
● holidays off<br>
● monthly & annual bonuses<br>
● tuition reimbursement<br>
● on-going education<br>
● opportunity for advancement<br>
● regular team-building events<br>
● annual retreat<br>
● flexible schedules<br>
● children welcome<br>
● company/family discounts<br>
● we practice equal pay & benefits - EOE<br><br>
To Apply:<br>
Please submit your resume with cover letter to: <a href="mailto:insurance@ficmn.com?Subject=My%20Resume" target="_top">insurance@ficmn.com</a> or <a href="mailto:tax@ficmn.com?Subject=My%20Resume" target="_top">tax@ficmn.com</a>

		</p>
		</div>
</section>