<div class="jumbotron signbox">
	<h1> Success</h1>
</div>
<section class="container aboutbox" style="min-height:300px">
<h2>Your payment just went through</h2>
	<p>Your payment of <%=@order.payment_amount%> USD just went through</p>
	<p>A confirmation mail of your payment was just sent to <%=@order.email%></p>
</section>