<div class="jumbotron">
	<h1> Control panel </h1>
</div>
<section class="col-sm-3 panelcontainer">
	<section class="col-sm-12">
		<ul class="list-group">
			<a href="/cp/posts" id="newstab" class="list-group-item active">News</a>
			<a href="/cp/subcats" id="servicestab"  class="list-group-item">Services</a>
			<a href="/cp/contacts" id="contactstab"  class="list-group-item">Quote Requests</a>
			<a href="/cp/contactmes" id="contactmestab"  class="list-group-item">Contact us</a>
			<a href="/cp/payments" id="paymentstab"  class="list-group-item">Payment forms</a>
			<a href="/cp/users" id="userstab"  class="list-group-item">Users</a>
			<a href="/cp/statistics" id="statisticstab"  class="list-group-item">Statistics</a>
			<a href="/cp/pages" id="pagestab" class="list-group-item">Pages</a>
		</ul>
	</section>
</section>